html, body {
  margin: 0px;
  padding: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
  border: 4px double black; /* Рамка вокруг таблицы */
  border-collapse: collapse;
  text-align:center; 
  font-size: 200%; /* Размер шрифта */
  color: #336; /* Цвет текста */
  margin: 5px;
}

form.auth table { 
  width: 350px; /* Ширина таблицы */
  border: 4px double black; /* Рамка вокруг таблицы */
  border-collapse: collapse; /* Отображать только одинарные линии */
}
form.auth th { 
  text-align: center;   
  background: #76EEC6; /* Цвет фона ячеек */
  padding: 5px; /* Поля вокруг содержимого ячеек */
  border: 1px solid black; /* Граница вокруг ячеек */
}
form.auth td { 
  padding: 5px; /* Поля вокруг содержимого ячеек */
  border: 1px solid black; /* Граница вокруг ячеек */
} 
form.auth select {
  width: 100%;
}
form.auth button {
  width: 100%;
}
form.auth input {
  width:97%;
}
form.auth tr.error {
  text-align: center;
  background-color: red;
  display: none;
}

table.newQuestion { 
  border: 4px double black; /* Рамка вокруг таблицы */
  text-align: left; 
}
table.newQuestion input {
    width:95%;
}

.question {
  margin: 5px 0 5px 0;
}
.question ul {
  margin: 0px;
  padding-left: 5px;
}
.question li {
  list-style: none;
}

#game img {
  display: none;
}